@import "../../../../sass/mixins";
@import "../../../../sass/variables";
.detailContainer {
  padding-left: 20px;
  padding-right: 20px;
  h2 {
    margin: unset;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  img {
    height: 350px;
  }
  .detailPrice {
    font-weight: bold;
  }
  @include standardbutton();
}
