$standardDarkColor: rgb(128, 104, 104);
$standardDarkColorWithOpacity: rgba(128, 104, 104, 0.8);
$standardLightColor: rgb(248, 244, 244);
$standardLightColorWithOpacity: rgba(255, 255, 255, 0.2);
$standardGreenColor: rgb(66, 133, 60);
$standardYellowColor: rgb(156, 234, 240);
$headerFontColor: rgb(101, 102, 133);
