.homeContainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  h2 {
    margin: unset;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .homeIntroText {
    margin-top: unset;
    margin-bottom: 50px;
  }
}
