<Header>
  <div class="topContent">
    <h1>Fredriks Webshop</h1>
    <div class="admin" routerLink="/admin">Admin</div>
  </div>
  <nav>
    <div
      class="home navLinks"
      routerLink=""
      routerLinkActive="activeRouterLinks"
    >
      Home
    </div>
    <div
      class="products navLinks"
      routerLink="/products"
      routerLinkActive="activeRouterLinks"
      (click)="loadMovies()"
      (mouseover)="hover = true"
      (mouseleave)="hover = false"
    >
      <div>Products</div>
      <div class="dropdown" *ngIf="hover === true">
        <div
          *ngFor="let category of categories"
          (click)="changeCatergory(category.id)"
        >
          {{ category.name }}
        </div>
      </div>
    </div>
    <div class="search navLinks">
      <input type="text" placeholder="Search" #searchInput />
      <button (click)="searchMovie(searchInput.value)">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div
      class="cart navLinks"
      routerLink="/cart"
      routerLinkActive="activeRouterLinks"
    >
      Cart
    </div>
  </nav>
</Header>
<div class="pageContainer">
  <router-outlet></router-outlet>
</div>
